.canvas-wrapper, .input-wrapper {
  float: left;
  height: 100vh;
  width: 50vw;
}

.canvas-wrapper {
  canvas{
    max-width: 100%;
  }
}
.input-wrapper {
  margin-top: 5%;
  input {
    display: block;
  }
}
