input {
  display: block;
  border-radius: 2px;
  width: 100%;
  background:rgba(0,0,0,0);
  border: 3px solid $dark;
  padding: 8px 16px;
  color: $dark;
  font-weight: bold;
  margin-top:5px;
  cursor: pointer;
  box-sizing: border-box;

  &[type="color"] {
    padding: 0px;
  }


  &:hover, &:focus{
    background: $dark;
    color: $light;
  }
}
label {
  display: block;
  width: 100%;
  margin-top: 10px;
}
